{% extends 'portfolio/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" class="post-form form-horizontal" enctype="multipart/form-data">{% csrf_token %}
  <div class="row justify-content-md-center">
    <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                  <h3 style="margin-bottom: 20px;color:#a3b745 ">Send Email</h3>
                   <div class="form-group">
                    {{ form.email.errors }}
                    <label  for="{{ form.email.id_for_label }}">Email Id</label>
        <div>{{ form.email }}</div>

      </div>
      <div class="form-group">
        {{ form.subject.errors }}
        <label for="{{ form.subject.id_for_label }}">Subject</label>
        <div >{{ form.subject }}</div>
      </div>
      <div class="form-group">
        {{ form.document.errors }}
        <label  for="{{ form.document.id_for_label }}">Document</label>
        <div >{{ form.document }}</div>
      </div>
      <div class="form-group">
        {{ form.message.errors }}
        <label  for="{{ form.message.id_for_label }}">Message</label>
        <div >{{ form.message}}</div>
      </div>
          <a href="{% url 'portfolio:customer_list' %}" class="btn btn-warning">Cancel</a>
          <input class="btn btn-warning" type="submit" name="submit" value="Send   Email">
        </div>
      </div>
                </div>
            </div>
        </div>
    <div class="col-md-4"></div>
  </div>
</form>
{% endblock %}