{% extends 'portfolio/base.html' %}

{% block title %}Password changed{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <div class="card text-center">
      <div class="card-header">
        <b>Password Changed</b>
      </div>
    <div class="card-body">
      <p class="card-text">Your password has been successfully changed. Let's Go Back To Home Page</p>
      <a href="/" class="btn btn-warning">Home Page</a>
    </div>
  </div>
  </div>
  <div class="col-md-6"></div>
</div>

{% endblock %}