{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Change you password{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1>Change you password</h1>
                    <p>Use the form below to change your password.</p>
                    <form action="" method="post">
                        {{ form|crispy}}
                        <br/>
                        <p><input type="submit" class="btn btn-warning" value="Change"></p>
                        <!--<input type="hidden" name="next" value="{{ next }}"/>-->
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}
