

h1 a {
    color: #FCA205;
    font-family: 'cursive';
}

body {
    background-image: url('../images/bg1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Comic Sans MS", serif;
    font-size: medium;
}

.table {

}